#main {
    text-align: center;
    width: 100%;
    height: 400px;
}

.message {
    font-size: 24pt;
}

.ball {
    width: 5%;
    height: 10%;
    background-color: black;
    position: absolute;
}

.stick {
    width: 2%;
    height: 20%;
    background-color: darkblue;
    position: absolute;
}

#lstick {
    left: 0%;
}

#rstick {
    left: 98%;
}
